/*wrapper*/

 #hamnav{
    width:100%; background:#000;
    /*optional*/
    position: sticky; top:0;
 }

 /*Hide hamburger*/
 #hamnav label, #hamburger{ display:none;}

 /*menu items*/
 #hamitems{ display: flex;}
 #hamitems a{
    width: 20%; 
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
 }

 @media screen and (max-width: 768px){
    /*Show hamburger*/
    #hamnav label{
        display: inline-block;
        color:white;
        background: "a02620";
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /*collapse menu items*/
    #hamitems a {
        box-sizing: border-box;
        display:block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /*toggle show/hide menu*/
    #hamitems { display: none;}
    #hamnav input:checked ~ #hamitems{
        display: block;
    }
 }