
/* page CV */
/* nav bar*/
.navbar{ 
    display:flex;
    padding-block: 20px;
    background-color:deepskyblue;
    border-color: rgb(62, 203, 238);
    border-width: 10px; 
    padding-left: 20px; 
    padding-right:20px;
} 

.liens{
    width:100%;
    display:flex;
    padding-left: 50px;
    padding-right:50px;
    justify-content: right;
}

a {
    text-decoration: none;
}
.navContact {
    padding-left: 40px;
}
.navPortfolio {
    padding-left: 40px;
}

@media (max-width:800px){
    .liens{
        width:100%;
        display:flex;
        padding-left: 50px;
        padding-right:50px;
        justify-content: center;
    }   
}

/*haut CV*/

.body{
    margin:auto;
    min-height:100vh;
}

.présentation{
    background-color:darkcyan;
    flex:wrap;
    width:100%;
    height: 380px;
}

.ima-id{
    width: 250px;
    height:250px;
    object-fit: cover;
    justify-self: center;
}


.descriptif{
    font-size: 20px;
    flex-direction: column;
}

@media(max-width:920px){
    .présentation{
        background-color:darkcyan;
        flex:wrap;
        width:100%;
        height: 500px;
    }
}

/*****************CORPS CV********************/
.compétence-en-cours{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:deepskyblue;
    margin-left: 300px;
    margin-right: 300px;
}

.compétences{
    font-size: 15px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.transferable{
    font-size: 15px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.formation{
    display:flex;
    background-color: darkcyan;
    width:100%;
    justify-items: center;
    margin: bottom 5px;
}

.diplomes{
    display:flex
}

@media(max-width:730px){
    .compétence-en-cours{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:auto;
    }
}

.expériences{
    background-color: deepskyblue;
}

.titremédian{
    font-size:15px;
}



