
body{
    background-color: lightgray;
}
/******************création de la grid****************/
.grid{
    display:grid;
    grid-template-columns: repeat(4,minmax(300px,1fr)) ;
    grid-template-rows:repeat(2,minmax(400px,1fr)) ;
    gap:20px;
    padding:5px;
    margin:5px;
}

@media (max-width:1300px) {
    .grid{
        display:grid;
        grid-template-columns: repeat(4,minmax(100,1fr)) ;
        grid-template-rows:repeat(2,minmax(400px,2fr)) ;
        gap:20px;
        padding:5px;
        margin:5px;
    }
}

@media(max-width:1200px){
    .grid{
        display:grid;
        grid-template-columns: repeat(4,minmax(100,1fr)) ;
        grid-template-rows:repeat(2,minmax(400px,2fr)) ;
        gap:10px;
        padding:5px;
        margin:5px;
    }

    .item:nth-child(1){
        display: flex;
         flex-direction:column; 
        background-color:purple;
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 5%;
        padding:15px;
    }

    .discours{  
        font-size: 18px;
        margin-left: auto;
        margin-right:auto;
    }
    
    .discours-petit{
        margin-top: 15px; 
        font-size:13px;
        margin-left: auto;
        margin-right:auto;
    }
    
}
/**********Daniel**************/
.item:nth-child(1){
    display: flex;
    flex-direction:column;
    background-color:purple;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5%;
    padding:15px;
}

.images{
    align-self:flex-start;
    border-radius: 50%;
    width:50px;
    margin-top: 15px;
}

/**********Jonathan******************/

.item:nth-child(2){
    background-color:grey;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 5%;
}



/**********Jeannette******************/
.item:nth-child(3){
    background-color:white;
    grid-row-start: 2; 
    grid-column-end: 2;
    border-radius: 5%;
}


/**********Patrick*****************/
.item:nth-child(4){
    background-color:darkblue; 
    color:white;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column:2;
    grid-column-end: 4; 
    border-radius: 5%;
}

/**********Kira*****************/
.item:nth-child(5){
    background-color:white;
    grid-column-start: 4;
    grid-column-end: 5; 
    grid-row-start:1;
    grid-row-end: 3;
    border-radius: 5%;
}

/**********Contenu écrit******************/
.name{
    margin-left: 55px;
    font-size:20px;
}

.poste{
    margin-left: 55px;
}

.discours{  
    font-size: 18px;
    margin-left: 10px;
    margin-right:10px;
}

.discours-petit{
  
    margin-top: 15px; 
    font-size:13px;
    margin-left: 10px;
    margin-right:10px;

}
/**********************************/