body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,rgba(48,50,130,255),rgba(213,208,125,255) );
}

section{
    background-color: white;
    width:1000px;
    height:600px;
    border: dashed 5px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    background-color:rgb(24, 5, 148);
    border-style:hidden;
    box-shadow: rgb(31, 30, 30) 0 5px ;
    padding: 25px;
    border-radius: 20px;
    font-style: italic;
    font-size: 30px;
    color: darkgoldenrod;
}


.citation{
    font-family: 'Satisfy', cursive;
    font-style: italic;
    font-size: 30px;
}

.provenance{
    font-family: 'Satisfy', cursive;
    font-style: italic;
    font-size: 20px; 
}