body {
    min-height: 100vh;
    background-color: rgb(240, 205, 172);
    margin:0;
}

H1{
    text-align: center;
    font-size: 50px;
}
/*config navbar */

.navbar{ 
    display:flex;
    padding-block: 20px;
    background-color: rgb(241, 167, 81);
    border-color: rgb(241, 167, 81);
    border-width: 10px; 
    padding-left: 20px; 
    padding-right:20px;
} 

.liens{
    width:100%;
    display:flex;
    padding-left: 50px;
    padding-right:50px;
    justify-content: right;

}
a {
    text-decoration: none;
}
.navContact {
    padding-left: 40px;
}
.navGalerie {
    padding-left: 40px;
}



/* config image, background et bloc div*/


.bordure{
    background-color: rgb(241, 167, 81);
    display: flex;
    flex: wrap;
    justify-content:center;
    border-radius: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 200px;
    min-width: 500px;    
}


.divimage{
    background-color: beige;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin:10px;
    padding: 20px;
    width: 350px;
    height: 500px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}

.ragdoll{
    width: 250px;
    height:250px;
    object-fit: cover;
    justify-self: center;
}

.siamois{
    width:250px;
    height: 250px;
    object-fit: cover;
    justify-self: center;
}

.european{
    width:250px;
    height:250px;
    object-fit: cover;
    justify-self: center;
}

.description {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*footer*/

.retour-haut{
    display:flex;
    padding-block: 20px;
    background-color: rgb(241, 167, 81);
    border-color: rgb(241, 167, 81);
    border-width: 10px; 
    padding-left: 20px; 
    padding-right:20px;
    border-bottom: 1px black solid;
    flex-direction: column;
    align-items: center;
}
.liens-du-bas{
    display: flex;
    padding-block: 20px;
    background-color: rgb(241, 167, 81);
    border-color: rgb(241, 167, 81);
    flex-direction: row;  
    justify-content:center;
}

.retour{
    padding-left: 20px;
}

/***********************  FORMULAIRE  *******************************************/

.fond{
    background-color: rgb(241, 167, 81);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    width: 1000px;
    height: 500px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}