
body{
    display:flex;
    margin: 0;
    overflow: hidden;
    align-items: center;
}
.forme-violette{
    width: 600px;
    height: 850px;
    background:linear-gradient(rgb(192, 68, 242),rgb(134, 49, 243) );
    margin-top:30%;
    border-bottom-left-radius: 300px; 
    border-bottom-right-radius: 300px;
    position: absolute;
    align-items: flex-start;
    left: -10%;
    z-index: -2;
}
.forme-rose{
    width: 600px;
    height: 900px;
    background-color:rgb(255, 227, 246);
    border-top-left-radius: 300px; 
    border-top-right-radius: 300px;
    position: absolute;
    align-self: flex-end;
    right: -10%;
    bottom: 0;
    z-index: -2;
}

.phone{
    width:300px;
    height:600px;
    background-color: white;
    border-radius: 15px;
    margin-left:250px;
    box-shadow:10px 10px 30px lightgrey;
    margin-top: 50%;
    z-index:-1;
    position: absolute;
}

.écran{
    width:280px;
    height:480px;
    background-color: lightgrey;
    border-radius:15px;
    margin-left:11px;
    margin-top:0px;
    z-index:-1;
    position:absolute;
}

.encoche{
    width:150px;
    height:40px;
    background-color: white;
    border-radius: 15px;
    z-index:1;
    margin-left:75px;
    position:absolute;
}

.template{
    display: flex;
    width:280px;
    height:100px;
    background:linear-gradient(rgb(192, 68, 242),rgb(134, 49, 243) );
    z-index:-1;
    margin-top: 10px;
    margin-left:10px;
    border-radius: 15px;
}

.avatar{
    width:40px;
    border-radius:50%;
    margin-top:55px;
    border:solid;
    border-color:white;
}

.chevron{
    width:50px;
    height:40px;
    margin-top:55px;
}

.name{
    font-weight:600;
    align-self: center;
}

.dispo{
    align-self: center;
}

.texto{
    width:65%;
    height:55px;
    background-color:rgb(205, 142, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size:13px;
    text-align: flex-start;
}

.content{
    margin-left: 10px;
}

.puppy{
    display:flex;
    width:50px;
    height:50px;
    margin-top:15px; 
}

.chien{
    border-radius:15px;
}

.proprio{
    width:65%;
    height:45px;
    background-color:rgb(205, 142, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size:13px;
}

.message{
    text-align: end;
    margin-right:10px;
}

 /* .text-bloc{  
    display:flex;
    flex-flow: column wrap;
    text-align: flex-start;
    align-items:center;
    width:500px;
    padding:10px;
}*/